WCF/MetsWeb.Console/MetsWeb.Console/Service References/TestServiceReference/TestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetsWeb.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetsWeb.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Test" nillable="true" type="tns:Test" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTest" nillable="true" type="tns:ArrayOfTest" />
  <xs:complexType name="Test">
    <xs:sequence>
      <xs:element minOccurs="0" name="TestID" type="xs:int" />
      <xs:element minOccurs="0" name="TestName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Test" nillable="true" type="tns:Test" />
</xs:schema>