WCF/MetsWeb.Console/MetsWeb.Console/Service References/LoanServiceReference/LoanService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetsWeb.Loan.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetsWeb.Loan.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLoan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Loan" nillable="true" type="tns:Loan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoan" nillable="true" type="tns:ArrayOfLoan" />
  <xs:complexType name="Loan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Loan" nillable="true" type="tns:Loan" />
</xs:schema>