BNP/MetsWeb.Console/MetsWeb.Console/Service References/LoanServiceReference/LoanService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21393/LoanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetsWeb.Loan.Models" />
  <xs:element name="GetLoans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetsWeb.Loan.Models" minOccurs="0" name="GetLoansResult" nillable="true" type="q1:ArrayOfLoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>